<!DOCTYPE HTML>
    <head>	
    	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel=stylesheet type="text/css" href="../static/skeleton.css" />
        <link rel=stylesheet type="text/css" href="../static/styles.css" />
        <script src="../static/skrollr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <main>
            <div class="strand" data-0="height: 400px;" data-80="height:50px;"></div>
            <img class="logo" src="../images/strand-web-logo-scissors.png" />

            <div class="container">
            	<hr>
                <div class="row content">
                    <p>We are Strand. We make fabric out of hair.</p>
                </div>
                <div class="row">
                	<h2>HOW DO WE DO IT?</h2>
                	<p>Every day in the UK, tonnes of waste human hair is dumped into landfill, costing money to both local authorities, and small business owners. We aim to mitigate this waste by sourcing local hairdressers and transporting their waste to our weaving facilities to weave it into a fabric</p>
                </div>
            </div> 
            {{{body}}}
        </main>
        <script src="../static/script.js"></script>
    </body>
</html>
