<!DOCTYPE HTML>
    <head>
        <link rel="icon" type="image/png" href="../images/favicon-32x32.png" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel=stylesheet type="text/css" href="../static/skeleton.css" />
        <link rel=stylesheet type="text/css" href="../static/styles.css" />
        <script src="../static/skrollr.min.js"></script>
    </head>
    <body>
        <main>
            <div class="strand" data-0="height: 400px;" data-80="height:50px;"></div>
            <img class="logo" src="../images/strand-web-logo-scissors.png" />

            <div class="container">
                <div class="row content">
                    <p>Imagine you’ve just had your hair cut. Do you ever wonder what happens to that hair?</p>
                    <p>Nothing, that’s what. Every day in the UK, tonnes of waste human hair is dumped into landfill, costing money to both local authorities, and small business owners.</p>
                </div>
            </div> 
        </main>
        <script src="../static/script.js"></script>
    </body>
</html>
