<!DOCTYPE HTML>
    <head>	
        <link rel=stylesheet type="text/css" href="../static/skeleton.css" />
        <link rel=stylesheet type="text/css" href="../static/styles.css" />
        <script src="../static/skrollr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <main>
            <div class="strand" data-0="height: 500px;" data-150="height:150px;"></div>
            <div class="logo" data-150="position: relative;"></div>

            <div class="container">
                <div class="row">
                    <div class="one column">&nbsp;</div>
                    <div class="ten columns"><h2>Cutting Edge Fabric</h2></div>
                    <div class="one column">&nbsp;</div>
                </div>
            </div> 
            {{{body}}}
        </main>
        <script src="../static/script.js"></script>
    </body>
</html>
