<!DOCTYPE HTML>
    <head>
        <link rel="icon" type="image/png" href="../images/favicon-32x32.png" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel=stylesheet type="text/css" href="../static/skeleton.css" />
        <link rel=stylesheet type="text/css" href="../static/styles.css" />
        <script src="../static/skrollr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <main>
            <div style="background-color: white; width: 44px; margin: 0 auto;"
                data-0="height: 0px;" data-190="height: 350px;"
                ></div>
            <div class="strand" data-0="height: 400px;" data-190="height:50px;"></div>
            <img class="logo" src="../images/strand-web-logo-scissors.png" />

            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <hr>
                        <p class="center">We are Strand. We make fabric out of hair.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>Process</h2>
                        <ol>
                            <li>
                                <div class="icon"></div>
                                Pellentesque scelerisque massa eget ligula molestie rutrum id non ante.
                            </li>
                            <li>
                                <div class="icon"></div>
                                Sed nec felis non dui elementum fringilla.
                            </li>
                            <li>
                                <div class="icon"></div>
                                Morbi et eros a risus aliquet aliquam vel non tellus.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>Products</h2>
                    </div>
                    <div class="three columns">
                        Image 1
                    </div>
                    <div class="three columns">
                        Image 2
                    </div>
                    <div class="three columns">
                        Image 3
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>About</h2>
                        <p>Finally all the hatred and maniacal loathing for these awful creatures who had placed me in this horrible place was centered by my tottering reason upon this single emissary who represented to me the entire horde of Warhoons.</p>
                    </div>
                </div>
                <div class="row">
                    <hr />
                </div>
                <div class="row">
                    <div class="three columns">
                        <div class="circle"></div>
                        <div class="name">Bob</div>
                    </div>
                    <div class="three columns">
                        <div class="circle"></div>
                        <div class="name">Andy</div>
                    </div>
                    <div class="three columns">
                        <div class="circle"></div>
                        <div class="name">Jim</div>
                    </div>
                    <div class="three columns">
                        <div class="circle"></div>
                        <div class="name">Alan</div>
                    </div>
                </div>
            </div> 
        </main>
        <script src="../static/script.js"></script>
    </body>
</html>
