<!DOCTYPE HTML>
    <head>
        <link rel="icon" type="image/png" href="../images/favicon-32x32.png" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300" rel="stylesheet">
        <link rel=stylesheet type="text/css" href="../static/skeleton.css" />
        <link rel=stylesheet type="text/css" href="../static/styles.css" />
        <script src="../static/skrollr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <main>
            <div style="background-color: white; width: 44px; margin: 0 auto;"
                data-0="height: 0px;" data-190="height: 350px;"
                ></div>
            <div class="strand" data-0="height: 400px;" data-190="height:50px;"></div>
            <img class="logo" src="../images/strand-web-logo-scissors.png" />

            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <hr>
                        <p class="center">We are Strand. We make fabric out of hair.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>ABOUT</h2>
                        <p>We are an independent business based in Norwich that is repurposing human hair into high quality, sustainable fabrics. Using traditional techniques, we work with experienced spinners and weavers to manufacture our STRAND FABRIC&trade;. Our hair is supplied from over 150 hairdressers all working with us to reduce waste and recycle materials.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>PROCESS</h2>
                        <ol>
                            <div class="four columns">
                                <li>
                                    <div class="icon"><img src="../images/strand-11.1.png"></div>
                                    Firstly, we collect waste hair from our trademarked bins at local hairdressers and transport it back.
                                </li>
                            </div>
                            <div class="four columns">
                                <li>
                                    <div class="icon"><img src="../images/spinning-wheel.jpg"></div>
                                    We then use our magic to prepare the hair and weave it into the fabric.
                                </li>
                            </div>
                            <div class="four columns">
                                <li>
                                    <div class="icon"><img src="../images/strand-11.2.png"></div>
                                    Finally, we sell on our premium fabric to wholesalers and designers.
                                </li>
                            </div>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>PRODUCTS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns samples">
                        <img src="../images/Marge.jpg">
                    </div>
                    <div class="four columns samples">
                        <img src="../images/Donald.jpg">
                    </div>
                    <div class="four columns samples">
                        <img src="../images/Zandra.jpg">
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="twelve columns">
                            <h2>CONTACT US</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label class="labelStyle" for="exampleEmailInput">Your email</label>
                            <input class="u-full-width" type="email" placeholder="example@mail.com" id="exampleEmailInput">
                        </div>
                        <div class="six columns">
                            <label class="labelStyle" for="exampleRecipientInput">Reason for contacting</label>
                            <select class="u-full-width" id="exampleRecipientInput">
                                <option value="Option 1">Queries</option>
                                <option value="Option 2">Sales</option>
                                <option value="Option 3">Other</option>
                            </select>
                        </div>
                    </div>
                    <label class="labelStyle" for="exampleMessage">Message</label>
                    <textarea class="u-full-width" id="exampleMessage"></textarea>
                    <label class="labelStyle" class="example-send-yourself-copy">
                        <input type="checkbox">
                        <span class="label-body">Send a copy to yourself</span>
                    </label>
                    <input class="button-primary" type="submit" value="Submit">
                </form>           
                <div class="row">
                    <hr />
                    <div class="twelve columns">
                        <h2 class="team">THE TEAM</h2></div>
                    </div>
                    <div class="row">
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/jon.jpg"/></div>
                            <div class="name">Jon</div>
                        </div>
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/jack.jpg"/></div>
                            <div class="name">Jack</div>
                        </div>
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/george.jpg"/></div>
                            <div class="name">George</div>
                        </div>
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/floyd.jpg"/></div>
                            <div class="name">Floyd</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/al.jpg"/></div>
                            <div class="name">Alexandra</div>
                        </div>
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/ant.jpg"/></div>
                            <div class="name">Ant</div>
                        </div>
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/dave.jpg"/></div>
                            <div class="name">Dave</div>
                        </div>
                        <div class="three columns">
                            <div class="circle"><img src="../images/people/dan.jpg"/></div>
                            <div class="name">Dan</div>
                        </div>
                    </div>
                </div>
            </div> 
        </main>
        <script src="../static/script.js"></script>
    </body>
</html>
