<!DOCTYPE HTML>
    <head>
        <link rel="icon" type="image/png" href="../images/favicon-32x32.png" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel=stylesheet type="text/css" href="../static/skeleton.css" />
        <link rel=stylesheet type="text/css" href="../static/styles.css" />
        <script src="../static/skrollr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <main>
            <div id="skrollr-body">
                <div style="background-color: white; width: 44px; margin: 0 auto;"
                    data-0="height: 0px;" data-180="height: 350px;"
                    ></div>
                <div class="strand" data-0="height: 400px;" data-180="height:50px;"></div>
                <img class="logo" src="../images/strand-web-logo-scissors.png" />
            </div>

            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <hr>
                        <p>We are Strand. We make fabric out of hair.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>Process</h2>
                        <ol>
                            <li>
                                <div class="icon"></div>
                                Collect hair from our registered partners
                            </li>
                            <li>
                                <div class="icon"></div>
                                Wash and mix with organic fibres
                            </li>
                            <li>
                                <div class="icon"></div>
                                Process into yarn for our fabrics
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>Products</h2>
                    </div>
                    <div class="three columns">
                        Image 1
                    </div>
                    <div class="three columns">
                        Image 2
                    </div>
                    <div class="three columns">
                        Image 3
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h2>About</h2>
                        <p>Every day in the UK, tonnes of waste human hair is dumped into landfill, costing money to both local authorities, and small business owners. We aim to mitigate this waste by sourcing local hairdressers and transporting their waste to our weaving facilities to weave it into a fabric</p>

                        <p>This</p>
                    </div>
                </div>
                <div class="row">
                    <hr />
                </div>
                <div class="row">
                	<div class="three columns">
                		<div class="circle"></div>
                		<div class="name">Bob</div>
                	</div>
                	<div class="three columns">
                		<div class="circle"></div>
                		<div class="name">Andy</div>
                	</div>
                	<div class="three columns">
                		<div class="circle"></div>
                		<div class="name">Jim</div>
                	</div>
                	<div class="three columns">
                		<div class="circle"></div>
                		<div class="name">Alan</div>
                	</div>
                </div>
            </div> 
        </main>
        <script src="../static/script.js"></script>
    </body>
</html>
