<h2>About us</h2>

<p>Imagine you’ve just had your hair cut. Do you ever wonder what happens to that hair?</p>

<p>Nothing, that’s what. Every day in the UK, tonnes of waste human hair is dumped into landfill, costing money to both local authorities, and small business owners.</p>

<p>We aim to put a stop to this.</p>

<p>Human hair is a strong, versatile, and sustainable raw material. We aim to create a business based on collection of human hair, transforming it from waste into usable, wearable fabric for everyone.</p>

<p>We are Strand. We make fabric out of hair.</p>