/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* viewport border */
body:before, body:after {
    content: "";
    position: fixed;
    background: black;
    left: 0;
    right: 0;
    height: 5px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 5px solid black;
    border-right: 5px solid black;  
}
main {
    padding: 5px;
}

h2 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 60px;
}

.leader {
    width: 500px;
    height: 400px;
}
.leader, .strand, .logo { 
    margin: 0 auto;
}

.strand {
    width: 44px;
    background-image: url('../images/strand-web-logo-hair.png');
}

.logo {
    display: block;
    position: relative;
    left: 9px;
}

 p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 300;
}